@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main_color: #00BBA6
}

body,
#root {
    width: 100%;
    height: 100%;
    min-height: fit-content;
    padding: 0;
    margin: 0;
}



body {
    background-color: white;
}

html {
    width: 100%;
    height: fit-content;
}

* {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 175%;
}

h2 {
    font-size: 125%;
}

button,
p {
    font-size: 20px;
}

button:is(:hover, :focus) {
    cursor: pointer;
    scale: 1.025;
    outline: none;
}

button:is(:hover, :focus) .outlined {
    background-color: rgb(0, 0, 0, 0.5);
}

input {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}

label:hover {
    cursor: pointer;
}

input:focus {
    outline: none;
}

button {
    padding: 5px 20px;
}


.Espaceclient {
    width: 100vw;
    height: 100vh;
  }
  
  
  body {
    margin: 0;
    padding: 0;
  }
  
  .Sidebar{
    height: 100%;
    width: 240px;
    background-color: #120D31;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .SidebarList{
     height: auto;
     padding: 0;
     width: 100%;
  }
  
  .SidebarList .row{
    width: 100%;
    height: 60px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, Helvetica, sans-serif;
  
  }
  .SidebarList .row:hover{
    cursor: pointer;
    background-color: #0b0625;
  }
  .SidebarList #active{
    background-color: #0b0625;
  }
  .row #icon{
    flex: 30%;
    display: grid;
    place-items: center;
  
  
  }
  .row #title{
  
    flex: 70%;
  }

    .profile-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .profile-picture {
    width: 120px; /* Adjust size as needed */
    height: 120px; /* Adjust size as needed */
    border-radius: 50%; /* To create a circular shape */
    object-fit: cover; /* Ensures the image fills the container */
    border: 2px solid #fff; /* Optional: Adding a border */
  }
  
  